<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Add friend</title>
        <link rel="stylesheet" href="../Style/add_friend.css">
        <link rel="stylesheet" href="{{ url_for('Style', path='add_friend.css')
            }}">
        <link rel="icon" type="image/png" href="../Icon/favicon.png">
    </head>
    <body>
        <div class="display-profile">
            <img
                src="https://avatars.cloudflare.steamstatic.com/7481d552fb63de33f29b9be9936ff1dafadf877f_full.jpg">
            <span>129000souls</span>
        </div>
        <div class="container">
            <div>ADD A FRIEND</div>
            <div class="friend-code-area">
                <div>Your Friend Code</div>
                <div>{display profile id here}</div>
                <form class="friend-code">
                    <input type="text" placeholder="Enter a friend Code">
                    <button type="submit">Enter</button>
                </form>
            </div>
            <div class="search-name-area">
                <div>Or try searching for your friend</div>
                <form class="search-name">
                    <input type="text" placeholder="Enter your friend's profile
                        name">
                    <button type="submit">Enter</button>
                </form>
            </div>
        </div>
    </body>
</html>