<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Pending friend</title>
        <link rel="stylesheet" href="../Style/pending_friend.css">
        <link rel="stylesheet" href="{{ url_for('Style', path='pending_friend.css')
            }}">
        <link rel="icon" type="image/png" href="../Icon/favicon.png">
    </head>
    <body>
        <div class="container">
            <div class="display-profile">
                <img
                    src="https://avatars.cloudflare.steamstatic.com/7481d552fb63de33f29b9be9936ff1dafadf877f_full.jpg">
                <span>129000souls</span>
            </div>
            <div class="received">
                <div classs="top-bar">
                    <span class="content">
                        <form class="search">
                            <span>RECEIVED INVITES</span>
                            <input type="text" placeholder="Search received
                                invites by name">
                            <span>IGNORE ALL</span>
                        </form>
                    </span>
                </div>
                <div class="received-list">
                    <!--  -->
                </div>
            </div>

            <div class="sent">
                <div classs="top-bar">
                    <span class="content">
                        <form class="search">
                            <span>SENT INVITES</span>
                            <input type="text" placeholder="Search sent
                                invites by name">
                        </form>
                    </span>
                </div>
                <div class="received-list">
                    <!--  -->
                </div>
            </div>
        </div>
    </body>
</html>