body {
    font-family: 'Noto Sans Thai', sans-serif;
    color: #fff;
    background-color: #1B2838;
    margin: 0;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.recommend {
    margin-top: 20px;
    background-position: center;
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr;
    background-color:#0E141B;
    border-radius: 10px;
    overflow: hidden;
}

.special-offers {
    display: grid;  
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
}

.recently-add {
    display: grid;  
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
}

.spotlight {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 10px 6px 20px -14px rgba(0,0,0,0.71);
}


.spotlight .image {
    width: 100%;
    height: 150px;
}

.spotlight .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}