.last_bought_product_block {
    color: #fff;
    display: grid;
    grid-template-columns:3fr 2fr 2fr;
    grid-area: "image name bought_time";
    grid-gap: 10px;
    width: 650px;
    height:100px;
    background-color: #131c27;
}

.last_bought_product_block img {
    width: 100%;
    grid-area: "image";
    object-fit: cover;
}

.last_bought_product_block .name {
    margin-top: 10px;
    font-size: 24px;
    white-space: nowrap;
}

.bought_time_container {
    display: flex;
    justify-content: end;
    align-self: flex-end;
}

.last_bought_product_block .time {
    margin-bottom: 10px;
    margin-right: 10px;
}