body {
    background-color: #171a21;
    color: #fff;
    font-family: Arial, sans-serif;

}

h3 {
    margin: 5px;
    margin-left: 0;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    --background-color:antiquewhite;
}

.section{
    background-color: #2b2f38;
    padding: 5px;
    margin: 5px;
}



