body {
    background-color: #171a21;
    color: #fff;
    font-family: Arial, sans-serif;

}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    --background-color:antiquewhite;
}

.form-container{
    background-color: #272e3f;
    padding: 5px;
}