body {
    font-family: 'Noto Sans Thai', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #1B2838;
}

a{
    text-decoration: none white;
    color: inherit;
}

.container {
    max-width: 1000px;
    height: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-rows: 200px 1000px;
    grid-gap: 10px;
    background-color:#101822;
}

/* .bio_container {
    display: grid;
    grid-template-columns: 184px 466px;
}

.bio_container .profile_pic img {
    outline: solid 3px grey;
}

.info_container {
    margin-left: 20px;
}

.info_container .name {
    font-size: 42px;
} */

.level_info_container {
    display: flex;
}

.level_info_container .level {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    outline: solid 3.5px #fff;
    font-size: 32px;
}

.profile_setting{
    border-radius: 3px;
    background-color: #1B2838;
    padding: 7px;
}

.profile_header,  .profile_content{
    display: grid;
    grid-template-columns: 650px 350px;
    grid-gap: 10px;
}

.proflie_left_col {
    width: 100%;
    display: grid;
    grid-template-rows: 50px 100px 100px 100px;
    grid-row-gap: 20px;
}

.last_bought_product {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #1B2838;
    display: flex;
    justify-content: start;
}

.last_bought_product .heading {
    width: 50%;
    display: flex;
    /* justify-content: flex-end11; */
    align-items: center;
    margin-left: 20px;
}

.last_bought_product .time {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}

.friend_container {
    width: 100%;
    height: 350px;
    display: grid;
    grid-template-rows: repeat(6,1fr);
    grid-gap: 10px;
}
