body {
    background-color: #171a21;
    color: #fff;
    font-family: Arial, sans-serif;

}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    --background-color:antiquewhite;
}

.badge-collection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

.display-box {
    width: 200px;
}