<head>
    <link rel="stylesheet" href="../../Style/navbar.css">
</head>

<div class="navbar">
    <a class="logo" href="/">
        <img src="https://store.cloudflare.steamstatic.com/public/shared/images/header/logo_steam.svg?t=962016">
    </a>
    <div class="navigate">
        <a href="/">Store</a>
        <a href="/library/{{ user.get_id() }}">Library</a>
        <a href="/community/all">Community</a>
        {% if user %}
            <a href="/cart/{{ user.get_id() }}">Viewcart</a>
            <a href="/profile/{{ user.get_id() }}">Profile</a>
        {% endif %}
    </div>

    <div class="profile">
        {% if not user %}
            <a class="login" href="/login">Login</a>
        {% else %}    
            <a href="/logout">Logout</a>
        {% endif %}
    </div>
</div>