<head>
    <link rel="stylesheet" href="../../Style/navbar.css">
</head>

<div class="navbar">
    <a class="logo" href="/">
        <img src="https://store.cloudflare.steamstatic.com/public/shared/images/header/logo_steam.svg?t=962016">
    </a>
    <div class="navigate">
        <a href="/">Store</a>
        <a href="/community/all">Community</a>
        {% if logged_in %}
            {% if is_publisher %}
                <a style = "text-align: center;" href="/shop">Shop</a>
            {% else %}
                <a href="/library">Library</a>
            {% endif %}
            <a href="/cart/{{ current_user.get_id() }}">Viewcart</a>
            <a href="/profile/{{ current_user.get_id() }}">Profile</a>
            {% if current_user.get_invite_list() != [] %}
                <a class="invite_notification" href="/pending_friend/{{ current_user.get_id() }}">
                    <img src="../../Icon/letter.png">
                </a>
            {% else %}
                <a class="no_invite_notification" href="/pending_friend/{{ current_user.get_id() }}">
                    <img src="../../Icon/letter.png">
                </a>
            {% endif %}
        {% endif %}
    </div>

    <div class="profile">
        {% if not logged_in %}
            <a class="login" href="/login">Login</a>
        {% else %}    
            <a href="/logout">Logout</a>
        {% endif %}
    </div>
</div>