<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>

        <div class="vertical_spotlight spotlight">
            <div class="image">
                <img src="https://cdn.akamai.steamstatic.com/steam/apps/1904820/header_292x136.jpg?t=1680162167">
            </div>
            <div class="footer">
                <div class="footer_text">
                    <div class="footer_content discount">-30%</div>
                    <div class="footer_content price">100 THB</div>
                </div>
            </div>
            <div class="description">
                <div class="text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam inventore quidem officiis eum quaerat itaque!
                </div>
            </div>
        </div>

        <div class="horizon_spotlight spotlight">
            <div class="image">
                <img src="https://cdn.akamai.steamstatic.com/steam/apps/1904820/header_292x136.jpg?t=1680162167">
            </div>
            <div class="prod_name">
                Prison Life
            </div>
            <div class="discount">
                -30%
            </div>
            <div class="price">
                100 THB
            </div>
        </div> 

    </body>
</html>
