<style>
.spotlight .footer {
    width: 100%;
    height: 50px;
    background-color:#3c6e8b;
    padding: 10px;
}

.vertical_spotlight {
    width: 285px;
    height: 350px;
}

.footer_text {
    position: absolute;
    display: grid;
    grid-template-columns: min-content min-content min-content;
    grid-template-rows: 1fr;
}

.footer_content {
    display: flex;
    height: 25px;
    padding: 0 10px;
    text-align: center;
    color:rgb(145, 255, 0);
    background-color:#1B2838;
}

.footer h4 {
    text-overflow: ellipsis;
    margin: 0;
}

.footer .discount {
    background-color:#5ba32b;
}

.footer .price {
    white-space: nowrap;
}

.description {
    width: 100%;
    height: 150px;
    background-color:#417a9b;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description .text {
    color:#66C0F4;
    padding: 10px;
}

</style>

<div class="vertical_spotlight spotlight" onclick="parent.location='product/{{product.get_id()}}'">
    <div class="image">
        <img src='{{product_info["cover_image"]}}'>
    </div>
    <div class="footer">
        <h4>
            {{ product_info["name"][:20] }}
            {% if product_info["name"]|length > 20 %}...{% endif %}
        </h4>
        <div class="footer_text">
            {% if product.get_discount() != 0 %}
            <div class="footer_content discount">-{{ product.get_discount() * 100 }}%</div>
            {% endif %}
            {% if product.get_price() != 0 %}
            <div class="footer_content price">{{ product.get_discounted_price() }} THB</div>
            {% else %}
            <div class="footer_content price">Free</div>
            {% endif %}
        </div>
    </div>
    <div class="description">
        <div class="text">
            {{ " ".join(product_info["description"].split()[0:20]) + "..." }}
        </div>
    </div>
</div>

