<style>
.spotlight .footer {
    width: 100%;
    height: 50px;
    background-color:#3c6e8b;
    display: flex;
    align-items: center;
}

.vertical_spotlight {
    width: 285px;
    height: 350px;
}

.footer_text {
    position: absolute;
    display: grid;
    grid-template-columns: min-content min-content min-content;
    grid-template-rows: 1fr;
    margin-left: 20px;
}

.footer_content {
    display: flex;
    height: 25px;
    padding: 0 10px;
    text-align: center;
    color:rgb(145, 255, 0);
    background-color:#1B2838;
}

.footer .discount {
    background-color:#5ba32b;
}

.footer .price {
    white-space: nowrap;
}

.description {
    width: 100%;
    height: 150px;
    background-color:#417a9b;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description .text {
    color:#66C0F4;
    padding: 10px;
}

</style>

<div class="vertical_spotlight spotlight" onclick="parent.location='product/{{product.get_id()}}'">
    <div class="image">
        <img src='{{product_info["cover_image"]}}'>
    </div>
    <div class="footer">
        <div class="footer_text">
            <div class="footer_content discount">-{{ product_info["discount"] * 100 }}%</div>
            <div class="footer_content price">{{ product_info["price"] * product_info["discount"] }} THB</div>
        </div>
    </div>
    <div class="description">
        <div class="text">
            {{ " ".join(product_info["description"].split()[0:20]) + "..." }}
        </div>
    </div>
</div>

