<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../Style/cart.css">
        <link rel="stylesheet" href="{{ url_for('Style', path='cart.css') }}">
        <title>Shopping Cart</title>
    </head>
    <body>
        {% include "Templates/navbar.html" %}
        <div class="container">
            <div class="header">
                <h2>Your cart</h2>
            </div>

            <div class="in_cart_container">

                <div class="product_in_cart">
                    {% for item in current_user.get_cart().get_products() %}
                    {% set product = item %}
                    <div class="prod_container">
                        <div class="cover"> <img
                                src="{{ product.get_cover() }}">
                        </div>
                        <div class="prod_name">{{ product.get_name() }}</div>
                    </div>

                    <div class="prod_price_container">
                        <div class="price">{{ product.get_discounted_price() }}</div>
                        <a href="/remove_from_cart/{{ current_user.get_id() }}/{{ product.get_id() }}"><button>Delete</button></a>
                    </div>
                    {% endfor %}
                </div>

                <div class="summary_container">
                    <div class="price_container">
                        <div class="price_header">Summary</div>
                        <div class="sum">{{ current_user.get_cart().calculate_total() }}</div>
                    </div>
                    {% if current_user.get_cart().get_products() != [] %}
                    <div class="button_container">
                        <a href="/payment/{{ current_user.get_id() }}"><button>Buy</button></a>
                    </div>
                    {% endif %}

                </div>

            </div>

        </div>
    </body>
</html>