<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Chat</title>
        <link rel="stylesheet" href="../Style/chat.css?v=1">
        <link rel="stylesheet" href="{{ url_for('Style', path='chat.css?v=1')
            }}">
        <link rel="icon" type="image/png" href="../Icon/favicon.png">
    </head>
    <body>
        {% include "Templates/navbar.html" %}
        <div class="container">
            <div class="top-display">
                <div class="user-display">
                    <span>
                        <img
                            src="{{ target.get_profile() }}">
                        <a>{{ target.get_name() }}</a>
                    </span>
                </div>
            </div>
            <div class="chat-box">
                {% for item in chat %}
                <div class="friend_block">
                    <img src="{{ item["sender"].get_profile() }}">
                    <div class="name">{{ item["sender"].get_name() }}</div>
                </div>
                <div class="message">{{ item["text"]}}</div>
                {% endfor %}
            </div>
            <div class="active-display">
                <form>
                    <input type="text">
                    <input type="submit" value="send">
                </form>
            </div>
        </div>

    </body>
</html>