<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Library</title>
        <link rel="stylesheet" href="../Style/library.css">
        <link rel="stylesheet" href="{{ url_for('Style', path='library.css')
            }}">
        <link rel="icon" type="image/png" href="../Icon/favicon.png">
    </head>
    <body>
        <ul>
            {% for product in library %}
            {% set product_info = product.get_info() %}
            <li><a>{{ product_info["name"] }}</a></li>
            {% endfor %}
        </ul>
        <div class="container">
            <div class="box1">
                <span>WHAT'S NEW</span>
                <div>
                    <!-- news -->
                </div>
            </div>
            <span>ALL GAMES</span>
            <div class="box2">
                
                    {% for item in library %}
                {% set product = item.get_info() %}
                {% include "Templates/simple_block.html" %}
                {% endfor %}
                
            </div>
        </div>
    </body>
</html>