<!DOCTYPE html>
<html>
<head>
	<title>Product</title>
	<link rel="stylesheet" href="../Style/product.css" >
	<link rel="stylesheet" href="{{ url_for('Style', path='product.css') }}" >
  <link rel="icon" type="image/png" href="../Icon/favicon.png">
</head>
<body>
  {% include "Templates/navbar.html" %}
	<div class="container">
		<h2>{{ product.get_name() }}</h2>
		<div class="showcase">
		<div class="gallery">
			<div class="vid">
				<iframe src="{{ product.get_preview_vid() }}" title="YouTube video player" 
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
				allowfullscreen>
			</iframe>
			</div>
			<div class="pic"></div>
		</div>
		<div class="descriptions">
			<div class="cover">
			<img src="{{ product.get_cover() }}">
			</div>
			<div class="description"> 
			{{ product.get_description() }}
			</div>
			<div class="review"></div>
			<div class="tags"></div>

		</div>
		</div>

		<div class="buytab">
			<h3>Play {{ product.get_name() }}</h3>
			<form class="right_col" action="/add_to_cart/{{ product.get_id() }}" method="get">
				<div class="pricing">{{ product.get_discounted_price() }} THB</div>
				<div class="pricing">  -{{  100 * product.get_discount() }}%</div>
				{% if addable %}
					<button type="submit" class="addbtn green_addbtn">Add to cart</button>
            {% if product not in current_user.get_wish_list() %}
            <div class="addbtn add_wishlist"><a href="/add_to_wishlist/{{ product.get_id() }}">Add to wishlist</a></div>
            {% else %}
            <div class="addbtn grey_addbtn"><a>In wishlist</a></div>
            {% endif %}
        {% elif product not in current_user.get_library().get_all_products() %}
        <a type="submit" class="addbtn grey_addbtn" disabled>In cart</a>
        <div class="addbtn grey_addbtn"><a>In cart</a></div>
				{% else %}
					<a type="submit" class="addbtn grey_addbtn" disabled>Owned</a>
					<div class="addbtn grey_addbtn"><a>Owned</a></div>
				{% endif %}
			</form>
		
		</div>
		
		<div class="sysreq_tab">
		<!-- {% for lang in product["lang_sup"] %}
			<h2>{{lang}}</h2>
		{% endfor %} -->
		</div>
  </div>
</body>
</html>