<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">  
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profile</title>
        <link rel="stylesheet" href="../Style/profile.css?v=1">
        <link rel="stylesheet" href="{{ url_for('Style', path='profile.css?v=1')
            }}">
        <link rel="icon" type="image/png" href="../Icon/favicon.png">
    </head>
    <body>
        {% include "Templates/navbar.html" %}
        <div class="container">
            <div class="profile_header">
                {% include "Templates/bio_container.html" %}
                <div class="level_container">
                    <div class="level_info_container">
                        <h2>Level</h2>
                        <div class="level">9</div>
                    </div>
                    <div class="show_achieve_ment"></div>
                    <a href="/setting_profile/{{ user.get_id() }}"
                        class="profile_setting">Edit Profile</a>
                    <a href="/purchase_history/{{ user.get_id() }}"
                        class="purchase_history">Purchase History</a>
                </div>
            </div>

            <div class="profile_content">
                <div class="proflie_left_col">
                    <div class="last_bought_product tab">
                        <div class="heading">
                            Last bought product
                        </div>
                        {% if user.get_purchase_history().get_history_list()!=[] %}
                        <div class="time">{{ user.get_purchase_history().get_history_list()[-1].get_paid_date() }}</div>
                        {% endif %}
                    </div>
                    {% set history_list = user.get_purchase_history().get_sorted_history() %}
                    {% set list_length = history_list|length %}
                    {% for i in range([list_length,3]|min) %}
                    {% set product = history_list[i] %}
                    {% include "/Templates/last_bought.html" %}
                    {% endfor %}

                </div>
                <div class="proflie_right_col">
                    <div class="badge heading">Badge</div>
                    <div class="badge_container">
                        {% for _ in range(4) %}
                        <img
                            src="https://community.akamai.steamstatic.com/public/images/badges/01_community/community02_54.png">
                        {% endfor %}
                    </div>
                    <div class="product heading">Product</div>
                    <div class="inventory heading">Inventory</div>
                    <div class="screenshot heading">Screenshot</div>
                    <div class="friends heading">Friends</div>
                    <div class="friend_container">
                        {% set friend_length = user.get_friend_list()|length %}
                        {% for _ in range([friend_length,6]|min) %}
                        {% set friend = user.get_friend_list()[_] %}
                        {% include "Templates/friend_block.html" %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>