<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/search_profile.css" >
	<link rel="stylesheet" href="{{ url_for('Style', path='search_profile.css') }}" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Profile</title>
</head>
<body>
    {% include "/Templates/navbar.html" %}
    <div class="container">
        <div class="search_bar_container">
            <form action="/search_profile/result">
                <input name="keyword">
                <button type="submit">Search</button>
            </form> 
        </div>
        <div class="search_result_header">
            Search result for " {{ kw }} "
        </div>

        <div class="search_result_container">
            {% if found_user|length > 0 %}
                {% for user in found_user %}
                    {% include "Templates/friend_block.html" %}
                {% endfor %}
            {% else %}
                No user found with " {{ kw }} "
            {% endif %}
        </div>
    </div>
    
</body>
</html>